.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 1rem;
    font-size: 1.2rem;

    @mixin atSmall {
        font-size: 1.6rem;
    }

    &__links {
        margin: 0;
        display: flex;

        li {
            list-style: none;
            padding: 1rem;
        }

        li:nth-child(2) {
            padding: 1rem 0;
        }
     }


}

